*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: transparent;
}
/*=============================================
 Table Of Contents
 Font Face
 1.) Global Typography
 2.) Global Headings
 3.) General Text Formatting
 4.) Global Link style
 5.) Global Button Styles
 6.) Global Sprite Icons and Clearfix style
 7.) Global form element
 8.) Header Style
 9.) Footer Style
 ===============================================*/

/*------Font Face-----------*/

/* 1.)----------------------Global Typography-----------------------*/
  
  body {
     line-height: 1.1; 
     position: relative;
     font-family: $base-font;
     font-size: $base-size;
     color:$dark-gray;
      -webkit-font-smoothing: antialiased;
       -moz-osx-font-smoothing: grayscale;
  }
  html{
    font-size:62.5%;
  }
  
  ul{
    padding: 0;
    margin: 0;
    list-style-type:none;
    li{
      padding: 0;
      margin: 0;
    }
  }
  /* 2) Global Headings ---------------------------------------------*/
 
   
  /* 3)-----------------------General Text Formatting ----------------------*/
  
  
  
  blockquote, cite, q, var, dfn {
    font-style: italic;
  }
  
  small {
    font-size: 85.71429%;
    line-height: 1.75;
  }
  
  /* 4)--------------------- Global Link style ------------------------*/
  a {
    text-decoration: none;
   
  }
  a{
    &:hover{
       outline: none;
       text-decoration: none;
     
    }
  }
  /* 5) Global Button Styles -----------------*/
 .glob-btn{
   text-align: center;
   padding: 10px 30px;
   text-transform: uppercase;
   color:$purple-bg;
   border:2px solid $purple-bg;
   font-weight: $bold;
   display: inline-block;
   @include transition(all 0.5s ease);
   &:hover{
     color:$black-color;
     border:2px solid $black-color;
   }
 }

  
  /* 6) Global Sprite Icons and Clearfix style -------------------------*/
  
  [class^="icon-"], [class*="icon-"] {
   background-image: url(../images/sprite.png);
   background-repeat: no-repeat;
   display: inline-block;
   vertical-align: middle;
   }
  
  /*----------------------Clear Floated Elements by use Clearfix class-----------------------*/
 
  /* 7) Global Sprite Icons and Clearfix style -------------------------*/
  
  
  
  /* --------------Global classes------------------ */
  .d-flex{
    display: flex;
  }
  .flex-wrap{
    flex-wrap: wrap;
  }
  .justify-content-center{
    justify-content: center;
  }
  .justify-content-between{
    justify-content: space-between;
  }
  .justify-content-end{
    justify-content: flex-end;
  }
  .align-items-center{
    align-items: center;
  }
  .align-items-end{
    align-items: flex-end;
  }
  
  .banner{
    .slick-arrow {
      font-size: 0;
      cursor: pointer;
      padding: 0; 
      width:77px;
      height:80px;
      border: none;
      background-color: $purple-bg;
      @include abs-pos(auto,540px,0,auto);
      @include transition(all 0.5s ease);  
      z-index:2;
      &:focus{
         outline:none;
       }
       &.slick-prev{
         background: $purple-bg url("../images/prev-arrow.png") center center no-repeat;
         right: 605px;
       }
       &.slick-next{
        background: $purple-bg url("../images/next-arrow.png") center center no-repeat;
       }
       &:hover{
         opacity: 0.96;
       }
  }
  }  
  // .slick-prev.slick-arrow{
  //        left: 9%; 
  //        @include border-left(4px, solid, $white-color); 
  //        @include transform(translateY(-50%) rotate(45deg));
  // } 
  // .slick-next.slick-arrow{
  //     right: 9%;
  //     @include border-right(4px, solid, $white-color);
  //     @include transform(translateY(-50%) rotate(-45deg));
  // }
  .slick-dots{
    li{
      display: inline-block;
      button{
        font-size: 0;
        padding: 0;
        margin: 0 2px; 
        width: 10px;
        height: 10px;
        
        @include border(1px, solid,$red-color);
        background-color: transparent;
      }
    }
    li.slick-active{
      button{
        background-color: $red-color;
      }
    }
  }
  
  
  img{
    max-width: 100%;
    height: auto;
  }
button{
  &:focus{
    outline:0;
  } 
}
select,input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select ::-ms-expand {
  display:none;
}

  /*----------icons-------------------*/

  // header
  .header{
    padding: 15px 35px;
    @include fixed-pos(0,auto,auto,0); 
    width: 100%;
    z-index: 999;
    .logo{
      margin-right: 15px;
    }
    .hamburger{
      width: 22px;
      height: 2px;
      background: $white-color;
      position: relative;
      cursor: pointer;
      &:after{
        @include after(100%,100%);
        @include abs-pos(-7px,auto,auto,0);
        background: $white-color;
      }
      &:before{
        @include before(100%,100%); 
        @include abs-pos(auto,auto,-7px,0);
        background: $white-color;
      }
    }
    .rating{
      margin: 0 5px;
    }
  }
  .icon-star{
    background-position: -10px -55px;
    width: 16px; height: 15px;
  }
  .icon-search{
    background-position: -10px -10px;
    width: 25px; height: 25px;
  }