//1). Border-Radius

@mixin border-radii($topleft, $topright, $bottomright, $bottomleft) {
    border-top-left-radius: $topleft;
    border-top-right-radius: $topright;
    border-bottom-right-radius: $bottomright;
    border-bottom-left-radius: $bottomleft;    
}

//2). Transition
@mixin transition($time){
   -webkit-transition: $time;
      -moz-transition: $time;
       -ms-transition: $time;
        -o-transition: $time;
           transition: $time;
}

// 3). Transform
@mixin transform($val){
   -webkit-transform: $val;
   -moz-transform: $val;
   -ms-transform: $val;
   -o-transform: $val;
   transform: $val;
}

//4). Positon-absolute
@mixin abs-pos ($top:auto, $right:auto, $bottom:auto, $left:auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

//5). Positon-fixed
@mixin fixed-pos ($top:auto, $right:auto, $bottom:auto, $left:auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: fixed;
}
// 6). Border
 @mixin border ($border-width, $border-style, $border-color){
   border: $border-width $border-style $border-color;   
 }
// 7). Mixin for after and before
@mixin after ($width, $height){
   content: '';
   width: $width;
   height: $height;
}
@mixin before ($width, $height){
  content: '';
  width: $width;
  height: $height;
}
//Single side border
 @mixin border-top ($border-width, $border-style, $border-color){
   border-top-width: $border-width;
   border-top-style: $border-style;
   border-top-color: $border-color;
 }
 @mixin border-right ($border-width, $border-style, $border-color){
   border-right-width: $border-width;
   border-right-style: $border-style;
   border-right-color: $border-color;
 }
 @mixin border-bottom ($border-width, $border-style, $border-color){
   border-bottom-width: $border-width;
   border-bottom-style: $border-style;
   border-bottom-color: $border-color;
 }
 @mixin border-left ($border-width, $border-style, $border-color){
   border-left-width: $border-width;
   border-left-style: $border-style;
   border-left-color: $border-color;
 }


