@media(max-width:991px){
    .thumbnail-slide{
        width: 225px;
        right: 135px;
        .slick-slide{ 
            &.slick-current{
                width: 225px!important;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    .counter-wrap {       
        padding: 25px 18px;        
        width: 135px;
    }
    .banner {
        .slick-arrow{
            width: 60px;
            height: 80px;
            right: 360px;
            &.slick-prev{
                right: 420px;
            }
        }
    }
    .best-things{
        padding: 70px 15px;
    }
    .dc-info{
        width: 50%;
    }
}
@media(max-width:767px){
    .banner-content{
        width: 55%;
    }
    .thumbnail-slide{
        width: 190px;
        right: 115px;
        .slick-slide{ 
            &.slick-current{
                width: 190px!important;
            }
        }
    }
    .counter-wrap{
        padding: 30px 15px;
        width: 115px;
        .start-slide{
            font-size: $base-size + 1.5rem;
        }
    }
    .banner{
        .slick-arrow{
            right: 305px;
            &.slick-prev{
                right: 365px;
            }
        }
       
    }
    
}
@media(max-width:575px){
    .header{
        padding: 15px;
    }
    .banner-content{
        width: 100%;
        padding: 20px 15px;
    }
    .thumbnail-slide{
        width: 110px;
        right: 75px;
        .slick-slide{ 
            &.slick-current{
                width: 110px!important;
            }
        }
    }
    .counter-wrap{
        padding: 20px 10px;
        width:75px;
        .start-slide{
            font-size: $base-size;
        }
        .end-slide{
            font-size: $base-size - 0.1rem;
        }
    }
    .banner{
        figure{
            img{
                height: calc(100vh - 59px);
            }
        }
        .slick-arrow{
            right: 185px;
            width: 50px;
            height: 60px;
            &.slick-prev{
                right:235px;
            }
        }
       
    }
    .next-move{
        left: 20px;
    }
    .best-things{
        flex-wrap: wrap;
    }
    .dc-info{
        order:1;
        width: 100%;
        .welcome-msg{
            font-size: $base-size;
            margin-bottom: 10px;
        }
        h2{
            font-size: $base-size + 1rem;
        }
    }
    .dc-profile{
        width: 100%;
        margin-bottom: 40px;
    }
}