// banner
.banner-wrap{
    position: relative;
}
.banner{
    figure{
        height:100vh;
        img{
            width: 100%;
            object-fit: cover;
            height: calc(100vh - 80px);
        }
    }
}
.banner-content{
    @include abs-pos(auto,auto,34%,0);
    padding: 20px 35px;
    width: 48%;
    h1{
        font-size: $xxl-size;
        color:$white-color;
        line-height: 1.2;
        margin-bottom: 14px;
        font-family: $sec-font;
        font-weight: $semi-bold;
    }
    p{  
        color:$white-color;
        line-height:1.4;
        .more-view{
            position: relative;
            text-transform: uppercase;
            color:$white-color;
            font-weight: $bold;
            margin-left: 10px;
            padding-right: 15px;
            @include transition(all 0.5s ease);
            &:after{
                @include after(8px,8px);
                @include abs-pos(50%,0,auto,auto);  
                @include transform(translateY(-50%) rotate(-135deg));
                border-left: 2px solid $white-color;
                border-bottom: 2px solid $white-color;               
              }
             &:hover{
                 opacity: 0.8; 
             }
        }
    }
}
.next-move{
    @include abs-pos(auto,auto,95px,70px);
    @include border-radii(50%,50%,50%,50%);
    @include transition(all 0.5s ease);
    width: 45px;
    height: 45px;
    border:1px solid $white-color;
    &:hover{
        opacity: 0.6; 
    }
}
.icon-down{
    background-position: -55px -10px;
    width: 18px; height: 18px;
}
.thumbnail-slide{
    @include abs-pos(auto,190px,0px,auto);
    width: 350px;
    .slick-slide{        
        width: 0 !important;
        height: 0 !important;
        overflow: hidden;
        .thumbnail-counter{
            display: none;
        }
        &.slick-current{
            width: auto !important;
        height: auto !important;
        overflow: hidden;
        position: relative;
        .thumbnail-counter{
            display: block;
        }
        }
    }
    .slick-track{
        transform: none!important;
    }
}
.thumbnail-counter{
    @include abs-pos(auto,auto,10px,50%);
    @include transform(translateX(-50%));
    font-size:$base-size - 0.2rem;
    color:#fff;
    padding: 0 12px;
    &:after{
        @include after(5px,5px);
        @include abs-pos(50%,0,auto,auto);  
        @include transform(translateY(-50%));
        background: #fff;
        border-radius: 50%;
      }
      &:before{
        @include before(5px,5px);
        @include abs-pos(50%,auto,auto,0);  
        @include transform(translateY(-50%));
        background: #fff;
        border-radius: 50%;
      }
    
}
.counter-wrap{
    @include abs-pos(auto,0px,0px,auto);
    padding: 50px 25px;
    background: $bg-dark;
    width: 190px;
    text-align: center;
    .start-slide{
        color:#fff;
        font-size: $base-size + 2.5rem;
        font-style: italic;
        letter-spacing: 2px;
        vertical-align: middle;
    }
    .end-slide{
        color:#fff;
        opacity: 0.7;
        font-size: $base-size + 0.6rem;
       padding-left: 10px;
        font-style: italic;
        vertical-align: middle;
        position: relative;
        &:before{
            @include before(5px,5px);
            @include abs-pos(50%,auto,auto,0);  
            @include transform(translateY(-50%));
            background: #fff;
            border-radius: 50%;
            opacity: 0.7;
          }
    } 
}
// dc-info
.best-things{
    max-width:1260px;
    margin: 0 auto;
    padding: 160px 15px 160px;
}
.dc-info{
    width: 45%;
    .welcome-msg{
        display: block;
        margin-bottom: 28px;
        font-size: $base-size + 0.1rem;
        font-weight: $bold;
        color:$black-color;
        opacity: 0.6;
    }
    h2{
        color:$black-color;
        line-height: 1.3;
        margin-bottom: 12px;
        font-size: $base-size + 2.1rem;
    }
    p{
        color:$black-color;
        opacity: 0.6;
        line-height: 1.4;
        margin-bottom: 15px;
    }
    
}
.dc-profile{
    width:35%;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.icon-insta{
    background-position:  -36px -61px;
	width: 17px;
    height: 17px;
    margin: 0px 8px 0 0;
    vertical-align: middle;
}
.icon-home{
    background-position: -62px -57px;
	width: 19px;
    height: 20px;
    margin: -5px 8px 0 0;
    vertical-align: middle;
}
.tagline{
    @include abs-pos(auto,0,0,auto);
    padding: 10px 20px;
    background:$white-color;
    text-align: center;
    font-size: $base-size - 0.2rem;
    color:$purple-bg;
    font-weight: $font-light;
}