// 1) Font-family 
$base-font:'Lato', sans-serif; 
$sec-font:'Playfair Display', serif;

// 2). Font-color

$white-color:#ffffff;
$black-color:#000000;
$red-color:#ff004c;
$dark-gray:#ccc;
$bg-dark:#222222;
$purple-bg:#87216b;

// 3). Font-size
$base-size:1.6rem;
$lg-size:2.4rem;
$xl-size:3.0rem;
$xxl-size:4.2rem;

//4). Font-Weight
$bold:700;
$semi-bold:600;
$font-medium:500;
$font-regular:400;
$font-light:300;