/*   Import Files
 ===============================================*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: transparent;
}

/*=============================================
 Table Of Contents
 Font Face
 1.) Global Typography
 2.) Global Headings
 3.) General Text Formatting
 4.) Global Link style
 5.) Global Button Styles
 6.) Global Sprite Icons and Clearfix style
 7.) Global form element
 8.) Header Style
 9.) Footer Style
 ===============================================*/
/*------Font Face-----------*/
/* 1.)----------------------Global Typography-----------------------*/
body {
  line-height: 1.1;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #ccc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
ul li {
  padding: 0;
  margin: 0;
}

/* 2) Global Headings ---------------------------------------------*/
/* 3)-----------------------General Text Formatting ----------------------*/
blockquote, cite, q, var, dfn {
  font-style: italic;
}

small {
  font-size: 85.71429%;
  line-height: 1.75;
}

/* 4)--------------------- Global Link style ------------------------*/
a {
  text-decoration: none;
}

a:hover {
  outline: none;
  text-decoration: none;
}

/* 5) Global Button Styles -----------------*/
.glob-btn {
  text-align: center;
  padding: 10px 30px;
  text-transform: uppercase;
  color: #87216b;
  border: 2px solid #87216b;
  font-weight: 700;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.glob-btn:hover {
  color: #000000;
  border: 2px solid #000000;
}

/* 6) Global Sprite Icons and Clearfix style -------------------------*/
[class^=icon-], [class*=icon-] {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

/*----------------------Clear Floated Elements by use Clearfix class-----------------------*/
/* 7) Global Sprite Icons and Clearfix style -------------------------*/
/* --------------Global classes------------------ */
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.banner .slick-arrow {
  font-size: 0;
  cursor: pointer;
  padding: 0;
  width: 77px;
  height: 80px;
  border: none;
  background-color: #87216b;
  top: auto;
  right: 540px;
  bottom: 0;
  left: auto;
  position: absolute;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2;
}
.banner .slick-arrow:focus {
  outline: none;
}
.banner .slick-arrow.slick-prev {
  background: #87216b url("../images/prev-arrow.png") center center no-repeat;
  right: 605px;
}
.banner .slick-arrow.slick-next {
  background: #87216b url("../images/next-arrow.png") center center no-repeat;
}
.banner .slick-arrow:hover {
  opacity: 0.96;
}

.slick-dots li {
  display: inline-block;
}
.slick-dots li button {
  font-size: 0;
  padding: 0;
  margin: 0 2px;
  width: 10px;
  height: 10px;
  border: 1px solid #ff004c;
  background-color: transparent;
}
.slick-dots li.slick-active button {
  background-color: #ff004c;
}

img {
  max-width: 100%;
  height: auto;
}

button:focus {
  outline: 0;
}

select, input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select ::-ms-expand {
  display: none;
}

/*----------icons-------------------*/
.header {
  padding: 15px 35px;
  top: 0;
  right: auto;
  bottom: auto;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header .logo {
  margin-right: 15px;
}
.header .hamburger {
  width: 22px;
  height: 2px;
  background: #ffffff;
  position: relative;
  cursor: pointer;
}
.header .hamburger:after {
  content: "";
  width: 100%;
  height: 100%;
  top: -7px;
  right: auto;
  bottom: auto;
  left: 0;
  position: absolute;
  background: #ffffff;
}
.header .hamburger:before {
  content: "";
  width: 100%;
  height: 100%;
  top: auto;
  right: auto;
  bottom: -7px;
  left: 0;
  position: absolute;
  background: #ffffff;
}
.header .rating {
  margin: 0 5px;
}

.icon-star {
  background-position: -10px -55px;
  width: 16px;
  height: 15px;
}

.icon-search {
  background-position: -10px -10px;
  width: 25px;
  height: 25px;
}

.banner-wrap {
  position: relative;
}

.banner figure {
  height: 100vh;
}
.banner figure img {
  width: 100%;
  object-fit: cover;
  height: calc(100vh - 80px);
}

.banner-content {
  top: auto;
  right: auto;
  bottom: 34%;
  left: 0;
  position: absolute;
  padding: 20px 35px;
  width: 48%;
}
.banner-content h1 {
  font-size: 4.2rem;
  color: #ffffff;
  line-height: 1.2;
  margin-bottom: 14px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
.banner-content p {
  color: #ffffff;
  line-height: 1.4;
}
.banner-content p .more-view {
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  margin-left: 10px;
  padding-right: 15px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.banner-content p .more-view:after {
  content: "";
  width: 8px;
  height: 8px;
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  position: absolute;
  -webkit-transform: translateY(-50%) rotate(-135deg);
  -moz-transform: translateY(-50%) rotate(-135deg);
  -ms-transform: translateY(-50%) rotate(-135deg);
  -o-transform: translateY(-50%) rotate(-135deg);
  transform: translateY(-50%) rotate(-135deg);
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.banner-content p .more-view:hover {
  opacity: 0.8;
}

.next-move {
  top: auto;
  right: auto;
  bottom: 95px;
  left: 70px;
  position: absolute;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 45px;
  height: 45px;
  border: 1px solid #ffffff;
}
.next-move:hover {
  opacity: 0.6;
}

.icon-down {
  background-position: -55px -10px;
  width: 18px;
  height: 18px;
}

.thumbnail-slide {
  top: auto;
  right: 190px;
  bottom: 0px;
  left: auto;
  position: absolute;
  width: 350px;
}
.thumbnail-slide .slick-slide {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
}
.thumbnail-slide .slick-slide .thumbnail-counter {
  display: none;
}
.thumbnail-slide .slick-slide.slick-current {
  width: auto !important;
  height: auto !important;
  overflow: hidden;
  position: relative;
}
.thumbnail-slide .slick-slide.slick-current .thumbnail-counter {
  display: block;
}
.thumbnail-slide .slick-track {
  transform: none !important;
}

.thumbnail-counter {
  top: auto;
  right: auto;
  bottom: 10px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 1.4rem;
  color: #fff;
  padding: 0 12px;
}
.thumbnail-counter:after {
  content: "";
  width: 5px;
  height: 5px;
  top: 50%;
  right: 0;
  bottom: auto;
  left: auto;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}
.thumbnail-counter:before {
  content: "";
  width: 5px;
  height: 5px;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
}

.counter-wrap {
  top: auto;
  right: 0px;
  bottom: 0px;
  left: auto;
  position: absolute;
  padding: 50px 25px;
  background: #222222;
  width: 190px;
  text-align: center;
}
.counter-wrap .start-slide {
  color: #fff;
  font-size: 4.1rem;
  font-style: italic;
  letter-spacing: 2px;
  vertical-align: middle;
}
.counter-wrap .end-slide {
  color: #fff;
  opacity: 0.7;
  font-size: 2.2rem;
  padding-left: 10px;
  font-style: italic;
  vertical-align: middle;
  position: relative;
}
.counter-wrap .end-slide:before {
  content: "";
  width: 5px;
  height: 5px;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  position: absolute;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #fff;
  border-radius: 50%;
  opacity: 0.7;
}

.best-things {
  max-width: 1260px;
  margin: 0 auto;
  padding: 160px 15px 160px;
}

.dc-info {
  width: 45%;
}
.dc-info .welcome-msg {
  display: block;
  margin-bottom: 28px;
  font-size: 1.7rem;
  font-weight: 700;
  color: #000000;
  opacity: 0.6;
}
.dc-info h2 {
  color: #000000;
  line-height: 1.3;
  margin-bottom: 12px;
  font-size: 3.7rem;
}
.dc-info p {
  color: #000000;
  opacity: 0.6;
  line-height: 1.4;
  margin-bottom: 15px;
}

.dc-profile {
  width: 35%;
  position: relative;
}
.dc-profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-insta {
  background-position: -36px -61px;
  width: 17px;
  height: 17px;
  margin: 0px 8px 0 0;
  vertical-align: middle;
}

.icon-home {
  background-position: -62px -57px;
  width: 19px;
  height: 20px;
  margin: -5px 8px 0 0;
  vertical-align: middle;
}

.tagline {
  top: auto;
  right: 0;
  bottom: 0;
  left: auto;
  position: absolute;
  padding: 10px 20px;
  background: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  color: #87216b;
  font-weight: 300;
}

@media (max-width: 991px) {
  .thumbnail-slide {
    width: 225px;
    right: 135px;
  }
  .thumbnail-slide .slick-slide.slick-current {
    width: 225px !important;
  }
  .thumbnail-slide .slick-slide.slick-current img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .counter-wrap {
    padding: 25px 18px;
    width: 135px;
  }

  .banner .slick-arrow {
    width: 60px;
    height: 80px;
    right: 360px;
  }
  .banner .slick-arrow.slick-prev {
    right: 420px;
  }

  .best-things {
    padding: 70px 15px;
  }

  .dc-info {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .banner-content {
    width: 55%;
  }

  .thumbnail-slide {
    width: 190px;
    right: 115px;
  }
  .thumbnail-slide .slick-slide.slick-current {
    width: 190px !important;
  }

  .counter-wrap {
    padding: 30px 15px;
    width: 115px;
  }
  .counter-wrap .start-slide {
    font-size: 3.1rem;
  }

  .banner .slick-arrow {
    right: 305px;
  }
  .banner .slick-arrow.slick-prev {
    right: 365px;
  }
}
@media (max-width: 575px) {
  .header {
    padding: 15px;
  }

  .banner-content {
    width: 100%;
    padding: 20px 15px;
  }

  .thumbnail-slide {
    width: 110px;
    right: 75px;
  }
  .thumbnail-slide .slick-slide.slick-current {
    width: 110px !important;
  }

  .counter-wrap {
    padding: 20px 10px;
    width: 75px;
  }
  .counter-wrap .start-slide {
    font-size: 1.6rem;
  }
  .counter-wrap .end-slide {
    font-size: 1.5rem;
  }

  .banner figure img {
    height: calc(100vh - 59px);
  }
  .banner .slick-arrow {
    right: 185px;
    width: 50px;
    height: 60px;
  }
  .banner .slick-arrow.slick-prev {
    right: 235px;
  }

  .next-move {
    left: 20px;
  }

  .best-things {
    flex-wrap: wrap;
  }

  .dc-info {
    order: 1;
    width: 100%;
  }
  .dc-info .welcome-msg {
    font-size: 1.6rem;
    margin-bottom: 10px;
  }
  .dc-info h2 {
    font-size: 2.6rem;
  }

  .dc-profile {
    width: 100%;
    margin-bottom: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
